<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">

    <style>
        .total-amount_box{
            width: 100%;
    
            
        }
        .total-amount_box span{
            width: 100%;
            display: flex;
            flex-direction: row;
           justify-content: end;
           gap: 10px;
           font-size: 20px;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                       
                                       Amount: <%= product.qty %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= product.id %>" name="productId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found in Your Cart!</h1>
                        <% } %>

            <div class="total-amount_box">
                <span >
                    <p>
                        Total Price:
                    </p>
                    <p style="font-weight: bold;">
                        <%= totalPrice %>
                    </p>
                </span>
            </div>
        </main>
        <%- include('../includes/end.ejs') %> 
        
    </body>